.mobile-nav-bar button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ----------------- */



.mobile-nav-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 50px;
  padding: 0.5rem 1rem 0 1rem;
}

.mobile-nav-bar-nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.logo-container {
  margin-right: auto;
  margin-left: 0;
  cursor: pointer;
}

.my-logo-mobile {
  height: 35px;
  width: 30px;
}

.mobile-nav-bar-item { 
  /* width: 80%; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.mobile-nav-icon-button {

}

.mobile-nav-bar-dropdown {
  position: absolute;
  z-index: 10;
  width: 100vw;
  top: 45px;
  transform: translateX(-90%);
  background: var(--gradient);
  opacity: 0.9;
  border-radius: var(--br);
  padding: 1rem;
}

.mobile-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-left: 3%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}
