
.header-navbar {
  background-color: #ffffff;
  opacity: .9;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 22px 0 15px 0;
}

.header-navbar .inner-nav {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-navbar .logo-container {
  margin-right: auto;
  margin-left: 0;
  cursor: pointer;
}

.header-navbar .my-logo {
  height: 45px;
  width: 40px;
}

.inner-nav a {
  margin-left: 3%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.inner-nav .links {
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: border ease .5s;
}

.inner-nav .links:hover {
  border-bottom: 2px solid #000;
}

/* .active {
  border-bottom: 2px solid #000;
} */