.node-wrapper {
  display: inline-block;
  margin-right: 40px;
}

.node-logo {
  height: 50px;
}

.node-logo path {
  fill: #939393;
  transition: all ease 0.5s;
}

.node-wrapper:hover path {
  fill: #83cd29;
}
