.ruby-wrapper {
  display: inline-block;
  /* margin-right: 30px; */
}

.ruby-logo {
  height: 46px;
}

.ruby-logo path {
  /* stroke: green; */
  fill: #939393;
  transition: all ease 0.5s;
}

.ruby-wrapper:hover path {
  fill: #d91404;
}
