.section-about {
  margin: 0 auto;
  /* background-color: red; */
  padding-top: 100px;
}

.section-about--wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin-top: 50px;
  /* border-top: 1px solid #000; */
}

.section-about .sub-categories {
  list-style: none;
}

.sub-categories li {
  padding-bottom: 20px;
  font-weight: 500;
  color: var(--muted);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.sub-categories .active {
  color: var(--primary);
}

.section-about--display {
  border: 1px solid var(--primary);
  border-radius: var(--br);
}

.display-text-content {
  margin: 0 auto;
  width: 92%;
  padding: 20px 0 20px 0;
}
